.bgPresentation{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)), url('../assets//presentation//cidade-inteligente-futurista-com-tecnologia-de-rede-global-5g\ 1.png');
    background-repeat: no-repeat;
background-size: cover;
}