.bgPresentation{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.79), rgba(0, 0, 0, 0.79)), url('../assets//presentation//cidade-inteligente-futurista-com-tecnologia-de-rede-global-5g\ 1.png');
    background-repeat: no-repeat;
background-size: cover;
}

.circles {
    background: rgba(216, 216, 216, 0.432);
    border-radius: 50%;
    position: absolute;
    box-shadow: rgba(141, 199, 238, 0.856) 0px 100px 100px 10px, rgba(131, 204, 238, 0.247) 0px 0px 15px 10px, rgba(36, 126, 168, 0.103) 0px 100px 100px 10px inset;
  }
  
  .circlesTwo {
    background: rgba(216, 216, 216, 0.432);
    border-radius: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    box-shadow: rgba(141, 199, 238, 0.856) 0px 100px 100px 10px, rgba(131, 204, 238, 0.247) 0px 0px 15px 10px, rgba(36, 126, 168, 0.103) 0px 100px 100px 10px inset;
  }